# Database Credentials
DB_NAME=fantasy_db
DB_USER=fantasy_user
DB_PASSWORD=fantasy_password
DB_HOST=localhost
# If using OrbStack
# DB_HOST=fantasy-ai-db.orb.local
DB_PORT=5432

# Flyway Configuration
FLYWAY_URL=jdbc:postgresql://localhost:5432/fantasy_db
# If using OrbStack
# FLYWAY_URL=jdbc:postgresql://fantasy-ai-db.orb.local:5432/fantasy_db
FLYWAY_USER=fantasy_user
FLYWAY_PASSWORD=fantasy_password
FLYWAY_LOCATIONS=filesystem:src/main/resources/db/migration
