defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend postgres-in
    bind *:5432
    default_backend postgres-out

backend postgres-out
    server db db:5432 check
